<div class="container mt 5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE VEHICULOS</span>
                    <a href="Templates/Boton.html"><BUtton class="btn btn-success float-end">NUEVO</BUtton> </a> 
                    
                    
              
                    
                    <table class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">Hora Entrada</th>
                            <th scope="col">Placa</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Color</th>
                            <th scope="col">Tipo de Vehiculo</th>
                            <th scope="col"></th>
                          </tr> 
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">12:00</th>
                            <td>PTX67G</td>
                            <td>PULSAR</td>
                            <td>GRIS</td>
                            <td>MOTO</td>
                            <td>
                                <i class="fas fa-trash text-danger"></i>
                                
                            </td>
                            <td><i class="fas fa-edit text-primary"></i></td>
                          </tr>
                          <tr>
                            <th scope="row">15:30</th>
                            <td>BTH852</td>
                            <td>CHEVROLET</td>
                            <td>ROJO</td>
                            <td>AUTOMOVIL</td>
                            <td><i class="fas fa-trash text-danger"></i></td>
                            <td><i class="fas fa-edit text-primary"></i></td>
                          </tr>
                          <tr>
                            <th scope="row">18:20</th>
                            <td>GTP745</td>
                            <td>NISSAN</td>
                            <td>AZUL</td> 
                            <td>CAMIONETA</td>
                            <td><i class="fas fa-trash text-danger"></i></td>
                            <td><i class="fas fa-edit text-primary"></i></td>
                          </tr>
                          <tr>
                            <th scope="row">20:40</th>
                            <td>DFG785</td>
                            <td>KENWORK</td>
                            <td>NEGRO</td> 
                            <td>CAMION</td>
                            <td><i class="fas fa-trash text-danger"></i></td>
                            <td><i class="fas fa-edit text-primary"></i></td>
                          </tr>
    
    
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>